name: analysis
on: [push, pull_request]
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Install Ruff
        run: pip install ruff
      - name: Run Linter
        run: python3 -m ruff check --preview sggo tests
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Run Tests
        run: python3 -m unittest tests
